<!DOCTYPE HTML>
<html>

    {{{header}}}
    
    <!-- Banner -->
    <section id="banner">
        <h2>What's the fequency, Kenneth?</h2>
        <p>Lyric Word Frequencies</p>
        <p>Drop in a URL from that big metropolitan lyrics website.</p>
        <ul class="actions">
            <li>
                <form action="/freq">
                    <input type="text" name="link" class="textarea" value="{{{linkPreload}}}"><br>
                    <input type="submit" value="{{buttontext}}" class="button special">
                </form>
            </li>
        </ul>
    </section>
    
    <body>
        <!-- One -->
        <section id="one" class="wrapper special">
            <div class="inner">
                <header class="major">
                    <h2>There's been some kind of error. Sorry!</h2>
                </header>
            </div>
        </section>
    </body>
    
    {{{footer}}}
    
</html>